<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <!-- Include D3.js library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--    Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center-container">
        <h2>Stats</h2>

        <label for="teamDropdown">Select NBA Team:</label>
        <select class="ui search dropdown" id="teamDropdown" onchange="populatePlayers()">
            <option value="" selected disabled>Select Team</option>
            {% for key in team_players_dict.keys() %}
                <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
            <!-- Add more NBA teams as needed -->
        </select>
        
        <br>
        <br>

        <label for="playerDropdown">Select Player:</label>
        <select class="ui search dropdown" id="playerDropdown" onchange="sendID(); unhideGamesForm();">

            <!-- Populated dynamically based on the selected team -->
        </select>

        <br>
        <br>
        <div class="button-group">
            <!-- By default, 'points' button is selected -->
            <button class='selected' onclick="selectButton(1); sendID();" id="pts" class="pts-button">Points</button>
            <button onclick="selectButton(2); sendID();" id="ast" class="ast-button">Assists</button>
            <button onclick="selectButton(3); sendID();" id="reb" class="reb-button">Rebounds</button>
            <button onclick="selectButton(4); sendID();" id="pts-ast" class="pts-ast-button">Pts + Ast</button>
            <button onclick="selectButton(5); sendID();" id="pts-reb" class="pts-reb-button">Pts + Reb</button>
            <button onclick="selectButton(6); sendID();" id="reb-ast" class="reb-ast-button">Reb + Ast</button>
            <button onclick="selectButton(7); sendID();" id="pra" class="pra-button">PRA</button>
            <button onclick="selectButton(8); sendID();" id="threes" class="threes-button">Threes</button>
        </div>
        <script>
            function selectButton(buttonNumber) {
                // NodeList of all buttons in 'button-group'.
                const buttons = document.querySelectorAll('.button-group button');
                
                // Remove 'selected' class (styles.css) from all buttons.
                buttons.forEach(button => button.classList.remove('selected'));
                
                // Adds 'selected' class (styles.css) to the chosen button.
                buttons[buttonNumber - 1].classList.add('selected');
            }
        </script>

    <script>
        // Dictionary containing data
        const nbaTeams = {{ team_players_dict|tojson|safe }};

        function populatePlayers() {
            const teamDropdown = document.getElementById('teamDropdown');
            const playerDropdown = document.getElementById('playerDropdown');
            const selectedTeam = teamDropdown.value;

            // Clear previous options
            playerDropdown.innerHTML = '';

            // Populate player dropdown based on the selected team
            const players = nbaTeams[selectedTeam];

            // Default option (blank)
            const defaultOption = document.createElement('option');
            defaultOption.value = "";  // Set the value to an empty string or any default value
            defaultOption.text = "Select Player";  // Set the text content
            defaultOption.selected = true;  // Set the selected attribute
            defaultOption.disabled = true;  // Set the disabled attribute
            // Append the option to the dropdown
            playerDropdown.appendChild(defaultOption);
            if (players) {
                players.forEach(function(item) {
                    var player_name = item['DISPLAY_FIRST_LAST'];
                    var player_id = item['PERSON_ID'];
                    const option = document.createElement('option');
                    option.value = player_id;
                    option.id = player_id;
                    option.textContent = player_name;
                    playerDropdown.appendChild(option);
                });
            }
        }
        // Function which sends the player id and the selected stats to the route '/process_player' to retrieve the data.
        function sendID() {
            const player_dropdown = document.getElementById('playerDropdown');
            const selected_num_games = document.getElementById('games');

            const player_id = player_dropdown.value;
            if(player_id === ""){
                return;
            }
            
            const num_games = selected_num_games.value;

            // Determines which button is selected and which stat to request.
            const buttons = document.querySelectorAll('.button-group button');
            let selected_stat = "";
            buttons.forEach((button, index) => {
                const isSelected = button.classList.contains('selected');
                if(isSelected){
                    selected_stat = button.id;
                    console.log({selected_stat});
                }
            });
            
            fetch('/process_player', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ player_id: player_id , selected_stat: selected_stat, num_games: num_games}),
            })
            .then(response => response.json())
            .then(data => {
                // Data received from the server
                console.log('Data received:', data);

                // Call a function to initialize or update the chart
                initializeChart(data.dates, data.stats);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }


    </script>

    <br>
    <br>
    <form method="post">
        <!-- Text Input -->
        <label for="Points">Over:</label>
        <input type="text" id="pts" name="pts" required>

        <!-- Submit Button -->
        <button class="ui button">Submit</button>
    </form>

    <form id="num-games" method="post">
        <!-- Text Input -->
        <label for="games">Select Last Number of Games</label>
        <br>
        <input type="text" id="games" name="games" value="15" oninput="sendID()">

        <!-- Submit Button -->
        <button class="ui button">Submit</button>
    </form>


    <script>
        function unhideGamesForm() {
            var form = document.getElementById('num-games')
            form.style.display = "block";
        }
    </script>
    <h2>Chart</h2>

    <!-- Container for the chart -->
    <canvas id="statsChart"></canvas>
    <script>

        // The initializeChart function definition goes here
        let statsChart; // Declare a variable to hold the chart instance
        var canvas = document.getElementById("statsChart");
        var ctx = canvas.getContext("2d");
        var horizonalLinePlugin = {
        afterDraw: function(chartInstance) {
            var yScale = chartInstance.scales["y-axis-0"];
            var canvas = chartInstance.chart;
            var ctx = canvas.ctx;
            var index;
            var line;
            var style;
            if (chartInstance.options.horizontalLine) {
            for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
                line = chartInstance.options.horizontalLine[index];
                if (!line.style) {
                style = "rgba(169,169,169, .6)";
                } else {
                style = line.style;
                }
                if (line.y) {
                yValue = yScale.getPixelForValue(line.y);
                } else {
                yValue = 0;
                }
                ctx.lineWidth = 3;
                if (yValue) {
                ctx.beginPath();
                ctx.moveTo(0, yValue);
                ctx.lineTo(canvas.width, yValue);
                ctx.strokeStyle = style;
                ctx.stroke();
                }
                if (line.text) {
                ctx.fillStyle = style;
                ctx.fillText(line.text, 0, yValue + ctx.lineWidth);
                }
            }
            return;
            };
        }
        };
        Chart.pluginService.register(horizonalLinePlugin);
        function initializeChart(dates, points) {
            const canvas = document.getElementById("statsChart");
            const context = canvas.getContext("2d");

            // If statsChart is not initialized, create a new chart
            if (!statsChart) {
                statsChart = new Chart(context, {
                    type: "bar",
                    data: {
                        labels: dates,
                        datasets: [{
                            backgroundColor: 'blue',
                            data: points
                        }]
                    },
                    options: {
                       scales: {
                            y: {
                                beginAtZero: true,
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            },
                        },
                        "horizontalLine": [{
                        "y": 4,
                        "style": "rgba(255, 0, 0, .4)",
                        "text": "max"
                        }, {
                        "y": 5,
                        "style": "#00ffff",
                        }, {
                        "y": 6,
                        "text": "min"
                        }]
                    }
                });
            } else {
                // Update the existing chart with new data
                statsChart.data.labels = dates;
                statsChart.data.datasets[0].data = points;
                statsChart.update();
            }
        }
    </script>

<p>Odds: {{ odds }}</p>
<p>{{ percent }}</p>
</div>
</body>
</html>