.button-group button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.05s;
}

.button-group button:hover {
    background-color: #555555;
    color: white;
}

.button-group button.selected {
    background-color: #808080; /* Highlight color for selected button */
    color: #fff;
}

.center-container {
    text-align: center;
}

#statsChart {
    margin:auto;
    width:100%; 
    max-width:800px; 
    max-height:400px;
}

#num-games {
    margin: 0 auto;
    display: none;
}

#line-form {
    margin: 0 auto;
    display: none;
}

label.faded {
    color: #000;
    opacity: 0.5;
}

#hit-rate-table {
    border-collapse: collapse; /* Collapse borders */
    width: 30%; /* Set table width */
    margin: 0 auto;
}

#hit-rate-table th {
    border: 1px solid black; /* Add solid black border to th elements */
    padding: 8px; /* Add padding to th elements */
    text-align: left; /* Align text to the left within th elements */
}

#hit-rate-table td {
    border: 1px solid black; /* Add solid black border to th elements */
    padding: 8px; /* Add padding to th elements */
    text-align: left; /* Align text to the left within th elements */
}
